<!DOCTYPE html>
<html>
  <head>
    <title>Dividend Machine</title>
    <style>
      h1{
        font-size: 50px;
        font-family: Roboto;
        font-weight: normal;
        color: rgb(0, 0, 200)
      }

      #banner{
        width: 70%;
        height: 250px;  
        image.center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }
      }      
    </style>
    </head>
  <body>
    <h1><center>Dividend Stock Analytics</center></h1>
    <p><center>Welcome to Dennis's Financial House</center</p>
   <img id="banner" src= "static/billboard1.jpeg" height="200">
   <h2>Financial Statements</h2>
   <p>Learn all about cashflow, income statement, assets, and liabilities</p>
    <h2>Forecasting</h2>
    <p>Forecast companies 2024 balance sheet and loan statements</p>
  </body> 
</html>